.info_card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
}

.info_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_head:hover {
  cursor: pointer;
}
