.logosearch {
  display: flex;
  gap: 0.75rem;
}

.search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}

.search input {
  border: none;
  background-color: transparent;
}
